<!DOCTYPE html>
<html>
   <head>
      {% block head %}
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" type="text/css" href="/static/style.css">
      <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      {% endblock %}
      <script>
        window.gapi = "{{gapi}}";
        window.gcx = "{{gcx}}";
      </script>
   </head>
   <body>
      <div class="header">
         <h1>Darcee's Recipes</h1>
      </div>

      <hr>

      <ul class="navbar">
        <li class="nav-tab"><a href="/">Home</a></li>
        <li class="nav-tab"><a href="/recipes">Recipes</a></li>
        <li class="nav-tab"><a href="/add">Add</a></li>
        <li class="nav-tab"><a href="/favorites">Favorites</a></li>
        <li class="nav-stretch"></li>
        <li class="search">
          <input type="text" placeholder="Search..">
        </li>
      </ul>

      <hr>

      {% block content %}
      {% endblock %}

      <div class="footer">
         <hr>
         <div class="footer-info">
            <p>Contact</p>
            <p>About</p>
            <p>Copyright</p>
         </div>
      </div>

      <script src="/static/main.js"></script>
   </body>
</html>
