{% extends "layout.html" %}
{% block title %}Recipes{%endblock%}

{% block content %}
<h2>Recipes List</h2>

<div class="full-page">
   <div id="left-column">

      {% for name, recipe in recipes.items() %}
         <div id="recipesList">
            <h3 id="{{name.replace(' ', '-')}}">{{name}}<a id="addFavorites" href="/recipes" onclick="window.favorites.add('{{name}}')">| Add to Favorites</a></h3>
            <img src="{{recipe['image']}}">
            <p><strong>Ingredients:</strong></p>
            <p>{{recipe['ingredients'] | nl2br}}</p>
            <p><strong>Directions:</strong></p> 
            <p>{{recipe['directions']}}</p>
            <hr>
         </div>
      {% endfor %}
   
   </div>
</div>

{% endblock %}